.inputBox{
    display:flex;
    justify-content: center;
}

#submitForm{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:5%;
    width: 100%;
}

input{
    width:100%;
    aspect-ratio: 8 / 1;
    border-radius:10px;
    border-style:solid;
    border-width: 0.01cap;
    border-color:#C8C8C8;
    background-color:#ffffff;
}

#btnBox{
    display:flex;
    justify-content: center;
}
#submitBtn{
    border-radius: 10px;
    border-style:none;
    width:100%;
    height:60%;
    color:#FFFFFF;
    background-color: #8FD36F;
    aspect-ratio: 5 / 1;
    box-shadow:5px 5px 5px #C8C8C8;
}

#gender{
    border-style:none;
    border-radius:10px;
    background-color:rgb(215, 215, 215);
    text-align: center;
    font-size:18px;
    font-weight: bold;
    font-family: "NotoSansKR";
    margin: auto;
    padding: 0 10%;
    aspect-ratio: 3 / 1;
}

#faceImage{
    min-width: 30vw;
    min-height:30vw;
    margin:5vw;
    border-radius:50%;
    border-style:solid 1px;
}

input::placeholder{
    color:#E0E0E0;
}

label{
    margin:0% 0% 2% 2%;
}