#event_title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "NotoSansKR";
    font-size: 15px;
    font-weight: bold;
    
}
.events_image{
    width:95%;
    aspect-ratio: 1/0.55;
    border-radius: 20px;
    /*이부분 수정하면 매너 이미지 크기 조정가능*/
}

@font-face{
    font-family: "NotoSansKR";
    src: url("../font/NotoSansKR.ttf") format("truetype");
  }