#event_title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "NotoSansKR";
    font-size: 15px;
    font-weight: bold;
    
}
.events_image{
    width:95%;
    height: auto;
}

@font-face{
    font-family: "NotoSansKR";
    src: url("../font/NotoSansKR.ttf") format("truetype");
  }