.events_image{
    width:95%;
    aspect-ratio: 1/0.55;
    border-radius: 20px;
    /*이부분 수정하면 매너 이미지 크기 조정가능*/
    
}

.datebox{
    font-size: 15px;
    text-align: right;
   margin-right: 3%;
}
.eventcontent{
    padding:5%;
    font-size: 20px;
}