img{
    margin:10px;
  }
  .box{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 45vw;
    height: 30vw;
    top: 435px;
    left: 206px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px #00000040;
    margin: 10px;
  }
  /**{
    margin: 8px 0;
  }*/
  .title{
    font-family: "Pattaya";
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    width: 123px;
    height: 28px;
    top: 104px;
    left: 18px;
  }
  
  @font-face{
    font-family: "Pattaya";
    src: url("../font/Pattaya.ttf") format("truetype");
  }
  @font-face{
    font-family: "NotoSansKR";
    src: url("../font/NotoSansKR.ttf") format("truetype");
  }
  @font-face{
    font-family: "NanumPen";
    src: url("../font/NanumPen.ttf") format("truetype");
  }
  .banner{
    width: 100%;
    height: 52vw;
    left: 0px;
    top: 150px;
    margin: 0;
  }
  .normal{
    font-family: "NotoSansKR";
    font-size: 15px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    margin: 2%;
  }
  
  hr {
    height: 0px; /* 선의 높이 조절 */
    background-color: rgb(233, 233, 233); /* 선의 색상 설정 */
    border: 0.5px solid rgb(233, 233, 233);
    width: 95%; /* 선의 너비 조절 */
  }


  #boxline {
    display: flex; /* 그리드 컨테이너로 설정 */
    justify-content: center; /* 각 .box 사이의 공간을 균등하게 분배 */
  
  }
  #normalline {
    display: flex; /* 그리드 컨테이너로 설정 */
    justify-content: space-between; /* 각 .box 사이의 공간을 균등하게 분배 */
  }
  #turtlebar {
    display: flex;
    align-items: flex-end; /* 내부 요소들을 밑 정렬 */
    justify-content: space-around; /* 요소들 사이에 여백을 만듭니다 */
    text-align: center; /* 내부 텍스트 가운데 정렬 */
    margin: 0; /* 마진을 0으로 설정합니다 */
  }
  
  
  .hr {
    width: 60%;
    height: 3px; /* 선의 두께 조절 */
    background: linear-gradient(270deg, #65CE40 26.04%, #FFC700 100%);
    border: none; /* 기본 테두리 제거 */
    margin:0px;
  }
  
  .center-hr {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-container {
    position: relative;
  }
  
  .image-text {
    position: absolute;
    font-family: "NanumPen";
    bottom: 0; /* Adjust as needed */
    left: 0; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0); /* Background color for text */
    color: rgb(0, 0, 0); /* Text color */
    padding-bottom: 30px;
    font-size: 17px;
  }

  #menubar_array{
    display:flex;
    flex-direction: column;
  }  
  line{
    background: rgba(51, 51, 51, 1);
    border: rgba(51, 51, 51, 1);
    width: 28px;
    height: 3px;
    margin: auto;
    border-radius: 8px; 
  }
  a{
    color:black;
    text-decoration: none;
  }