

#logo{
    font-family: "NotoSansKR";
    font-size: 15px;
    font-weight: 700;
}
#logo img{
    width:60%
}
#id_input{
    font-family: "NotoSansKR";
    font-size: 15px;
    font-weight: 700;
}
#password_input{
    font-family: "NotoSansKR";
    font-size: 15px;
    font-weight: 700;
}
@font-face{
    font-family: "NotoSansKR";
    src: url("../font/NotoSansKR.ttf") format("truetype");
  }