body{
    font-family:"NotoSansKR";
}
.productBox{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

}
.Item{
    width:50vw;
    height:50vw;
    margin:10vw;
    background-color: #E2DFDF;
    border-radius:5vw;
    box-shadow: 5px 5px 3px #666;
}

.priceTag{
    width:60vw;
    height:20vw;
    margin:5vw;
    background-color:#FFE0E0;
    border-radius:5vw;
    border-color:#FF4848;
    border-style:solid;
    border-width:1px;
    padding:3vw;
    box-sizing:border-box;

}