body{
    font-family:"NotoSansKR";
}
.productBox{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.Item {
    position: relative;
    width: 60%;
    margin-top: 15%;
    margin-bottom: 10%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barcode {
    position: relative;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color: #E2DFDF;
    border-radius: 10px;
    box-shadow: 5px 5px 3px #666;
    aspect-ratio: 3 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.barcode_image {
    position: relative;
    width: 100%;
    border-radius: 20px;
    aspect-ratio: 3 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.Item img {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}

.priceTag{
    width:60%;
    aspect-ratio: 3 / 2;
    margin:5%;
    background-color:#FFE0E0;
    border-radius:20px;
    border-color:#FF4848;
    border-style:solid;
    border-width:1px;
    padding:3%;
    box-sizing:border-box;
}

#oneline{
    display:flex;
    align-items:center;
    justify-content: space-between;
    
}

#check{
    max-width:7vw;
}

.priceTag{
    width:75%;
    aspect-ratio: 5 / 1;
    margin-top:10%;
    margin-bottom:10%;
    background-color:#FFE0E0;
    border-radius:10px;
    border-color:#FF4848;
    border-style:solid;
    border-width:1px;
    padding:3%;
    box-sizing:border-box;
}

.pricatag{
    display:flex;
    flex-direction:column;
    justify-content: center;
}

#productname{
    text-align:center;
}