#logo {
    padding-top: 20%;
    width:80%; /* 원하는 너비로 설정 */
}
#iphone{
    padding-top: 10%;
    
    width: 80%; /* 원하는 너비로 설정 */

}
#logintostart {
    padding-top: 10%;
    width: 80%; /* 원하는 너비로 설정 */
}