.box_categories_m{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 28vw;
    height: 26vw;
    top: 435px;
    left: 206px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px #00000040;
    margin: 10px;
  }
  .box_categories_P{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 42vw;
    height: 35vw;
    top: 435px;
    left: 206px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px #00000040;
    margin: 10px;
  }
  #Store_title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "NotoSansKR";
    font-size: 15px;
    font-weight: bold;
    
}
  .title_line {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content:center;
    gap: auto;
  }
  .title_line_P{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content:center;
    gap: 3vw;
    padding: 0 5vw;
  }

  .mug_align{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 30vw;
    height: 28vw;
  }
  .top_line{
    display: grid; /* 그리드 컨테이너로 설정 */
    grid-template-columns: 0.7fr 1fr;
    justify-items:left;
    justify-content:center;
    gap: auto;
  }

.item{
  display:flex;
  justify-content: center;
  
}
  #itemImg{
    width:70%;
    margin:0vw 0vw 0vw 7vw;
  }

.btnBox{
  width:100vw;
  display:flex;
  justify-content: center;
  background-color: #ECECEC;
}

#buyBtn{
  position:relative;
  margin:5vw;
  width:40vw;
  height:12vw;
  background-color: #8FD36F;
  border-style:none;
  border-radius:2vw;
  color:white;
  box-sizing:border-box;
}
