.box_categories_m {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 80%;
  top: 435px;
  left: 206px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  margin: 10px;

  /* Set aspect ratio to 1:1 (height equal to width) */
  aspect-ratio: 1 / 1;
}

  .box_categories_P{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 85%;
    aspect-ratio: 1/1;
    top: 435px;
    left: 206px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-top: 5%;
    padding-top: 5%;
  }
  #Store_title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "NotoSansKR";
    font-size: 15px;
    font-weight: bold;
    
}
  .title_line {
    width: 100%;
    position: relative;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content:center;
    gap: auto;
  }
  .title_line_P{
    width: 100%;
    position: relative;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content:center;
    gap: 0;
    padding: 0 0.5%;
  }

  .top_line{
    display: grid; /* 그리드 컨테이너로 설정 */
    grid-template-columns: 0.7fr 1fr;
    justify-items:left;
    justify-content:center;
    gap: auto;
  }

.item{
  display:flex;
  justify-content: center;
  
}
  #itemImg{
    width:70%;
    margin:0;
  }

.btnBox{
  width:100%;
  position: absolute;
  left:0;
  bottom: 0;
  display:flex;
  justify-content: center;
  background-color: #ECECEC;
}

#buyBtn{
  position:relative;
  margin:7%;
  width:40%;
  aspect-ratio: 10 / 2.7;
  background-color: #8FD36F;
  border-style:none;
  border-radius:10px;
  color:white;
  box-sizing:border-box;
}
