@font-face{
    font-family: "NanumPen";
    src: url("../font/NanumPen.ttf") format("truetype");
  }

  @font-face{
    font-family: "Pattaya";
    src: url("../font/Pattaya.ttf") format("truetype");
  }
.profileContainer{
    height:65vw;
    margin:5vw;
}
  #username{
    font-family: "NotoSansKR";
    font-weight:bold;
    font-size:3vw;
}

.faceImage{
    font-family: "NotoSansKR";
    text-align:center;
}

#faceImage{
    width:30vw;
}

#editProfile{
    font-family: "NotoSansKR";
    background-color: #8FD36F;
    width:25vw;
    padding:2vw 3vw 2vw 3vw;
    border-radius: 20%;
    color:white;
    border-style:none;
    font-size:3vw;
}

.badgeCollection{
    max-width:100vw;
    height:50vw;
  }

#badgeText{
    font-family:"NotoSansKR";
    font-weight:bold;
    font-size:3vw;
    margin: 0 0 0 3vw;
}

#badgeCount{
    font-family:"NotoSansKR";
    font-weight:bold;
    font-size:4vw;
    margin: 0 3vw 0 0;
    text-align:right;

}

  .badgeBox{
    width:100vw;
    height:45vh;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:auto;

  }

#badgeName{
    font-size:3vw;
        font-weight: bold;
        text-align: center;
        font-family: "NotoSansKR";
}

#badgeImg{
    box-sizing: border-box;/*padding, margin이 너비에 포함되도록*/
        max-width:10vw;
        max-height:10vw;
        display:block;
        margin:0 auto;
}






#hexagon {
    display:flex;
    align-items:center;
    justify-content:center;
    background:#E8E8E8;
    border-radius:50%;
    width: 20vw;
    height: 20vw;
    position: relative;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}





.menuContainer {
    display: flex;
    justify-content: space-between; /*title과 menuBar 떨어뜨려놓기*/
    align-items: center; /*수직위치 기준 center*/
  }
  
  .title {
    margin: 10px;
    font-family: "Pattaya";
    font-size: 35px;
  }
