.pointViewer{
    height: 80%;
    text-align:center;
}
.btnContainer{
    background-color: aquamarine;
}

#leftPointer{
    align-items:center;
}
#sentence{

    font-size:14px;
}

#buy{
    color:#3E97FF;
}
button{
    border-style:none;
    width:50%;
    background-color:transparent;
    font-weight:bold;
    font-family:NotoSansKR;
}
#cancel{
    border-style:none;
    width:50%;
    background-color:transparent;
    font-weight:bold;
    font-family:NotoSansKR;

}
#close{
    border-style:none;
    width:100%;
    background-color:transparent;
    font-weight:bold;
    font-family:NotoSansKR;

}