 /*
  .box_categories_m{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 28vw;
    height: 26vw;
    top: 435px;
    left: 206px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px #00000040;
    margin: 10px;
  }
  
  .product-grid {
    display:grid;
    width:100vw;
    height:40vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    gap: auto; 
    margin:1.5vw;
  }*/
    /*가로 방향으로 중앙정렬*/
  
/*
  .pointView{
    height:20vw;
    grid-column:1/4;
    font-weight:bold;
  }

  .footer{
    height:5vw;
    align-items:bottom;
  }

  #productName{
  text-align:center;
  margin: 3vw 0vw 3vw 0vw;
  }*/

 
  