@font-face{
    font-family: "NotoSansKR";
    src: url("../font/NotoSansKR.ttf") format("truetype");
  }

.top_line{
    display: grid; /* 그리드 컨테이너로 설정 */
    grid-template-columns: 0.7fr 1fr;
    justify-items:left;
    justify-content:center;
    gap: auto;
    margin:50px;

  }


.captureBtn{
    margin:100px 0px 0px 50px;
    display:flex;
    align-items:flex-start;
 
}

.container{
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:30px;
}

#album{
    flex:1;
    text-align:left;
    max-width:100px;
}

#turtleBtn{
    border-style:none;
    width:130px;
    background:none;
    margin:100px;
    flex:1;
    text-align: center;


}

#refresh{
    max-width:100px;
    padding:10px;
    border-radius:20px;
    font-family:"NotoSansKR";
    font-size:20px;
    border-style:none;
    flex:1;
    text-align: right;
    background-color: #F9F9F9;
    
}

#refreshBtn{
    max-width:50px;
}

