.xbutton{
    display:flex;
    justify-content: right;
    border-radius:1%;
    padding:2%;
}

.middle{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:7% 0 0 0;
    text-align:center;
}
.full_container {
    max-width: 420px;
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
  }
